/* Styling of Question section */
#materialize-override .question {
    margin-bottom: 20px;
}

/* submit button styling */
#materialize-override .submit-btn {
    margin-bottom: 20px;
    width: 50%;
}